@import '/css/header.css';
@import '/css/slider.css';

body {
    font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}